.nav-link {
    color: black !important;
    /* width: 100%; */
    border-radius: 10px;
    padding: 10px;
}

.nav-link:hover{
    background-color: black;
    color: white !important;
}
.toggle-bar{
    background-color: rgb(14, 34, 20) !important;
}
.pic-name{
    position: relative;
    top: 5px;
}